.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.tableContainer {
  width: 40%;
  padding: 5%;
  box-sizing: border-box;
}